/*
hoehouse is based on Whorehouse - The Game.

bootstrap is a self publishing node, designed by creators, for creators.
bootstrap nodes connect and share with each other.
bootstrap is powered by aelua.
bootstrap is not a publishing platform for web journalists.

In bootstrap internets. You do not link to bootstrap. Bootstrap links to you!

aelua is a lua core and framework compatibile with appengine.
aelua and bootstrap are designed and developed by wetgenes.

would you like to know more?
http://boot-strap.appspot.com
http://code.google.com/p/aelua/
http://code.google.com/appengine/
http://www.wetgenes.com/
http://whorehouse.naken.cc

^o^ July 2010 kriss/shi daniels copywrong,left,right&center.
*/

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
b {font-weight: bold;}
u {font-style: italic; text-decoration: none;}
i {font-family: Lucida Sans Unicode, sans-serif; font-weight: bold; letter-spacing: -0.1em; line-height: 30px;}
a img, :link img, :visited img {border: 0;}
form, button{border:0; margin:0; padding:0;}

     

/* thanks http://ryanfait.com/sticky-footer/ */
html, body {
	height: 100%;
	background:transparent;	
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px;
}
.footer, .push {
	height: 200px;
	clear: both;
}
.footer {
	background-image:url('/art/footer.png');
}

	
body{
	background-color: #f7f7f7;
	background-image:url('/art/header.png');
	background-repeat:repeat-x;
}
a { color: #444; font-weight: normal; }
a:focus		{ text-decoration: none;}
a:link		{ text-decoration: none;}
a:visited	{ text-decoration: none;}
a:hover		{ text-decoration: underline;}
a:active	{ text-decoration: none;}

/* Main Container */
div.maincont{
	width: 960px;
	margin: 0 auto;
}
/* Container for contents */
div.cont{
	width: 960px;
	margin: 0 auto;
}
/* Main container horizontal line */
div.line{	
	border-bottom:1px solid #CACACA;
	
	width: 960px;
	margin: 0px;
	float:left;
}
/* Header image */
div.header{
	width: 960px;
	height: 180px;
	margin: auto;
	margin-top: 30px;
	position:relative;
}

#alfa{
	display:block;
	position:absolute;
	top:0px;
	right:0px;
	width:270px;
	height:165px;
	background-image:url('/art/4lfalfa.png')
}
#alfa:hover{
	background-image:url('/art/4lfalfa1.png')
}

#tv_switch{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	display:block;
	position:absolute;
	bottom:0px;
	right:0px;
	background-color:#888;
	font-family: Lucida Sans Unicode, sans-serif;
	color: #fff;
	font-size: 11px;
	padding: 4px;
}
#tv_switch:hover{
	background-color:#82CDF0;
	color: #fff;
	text-decoration: none;
}
#help{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	display:block;
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:#04A800;
	font-family: Lucida Sans Unicode, sans-serif;
	color: #fff;
	font-size: 11px;
	padding: 4px;
}
#help:hover{
	background-color:#FF2600;
	color: #fff;
	text-decoration: none;
}

/* Footer container */
div.desc, div.desc1 {
	font-family: Lucida Sans Unicode, sans-serif;
	color: #7C9277;
	font-size: 12px;
	
	width: 480px;
	margin: 0 auto;
	padding: 0px;
	padding-top: 100px;
	float: left;
}
.desc a:focus		{color: #55BE41; text-decoration: none;}
.desc a:link		{color: #55BE41; text-decoration: none;}
.desc a:visited		{color: #55BE41; text-decoration: none;}
.desc a:hover		{color: #55BE41; text-decoration: underline;}
.desc a:active		{color: #55BE41; text-decoration: none;}
div.desc1 {
	text-align: right;
	float: right;
}
.desc1 a:focus		{color: #55BE41; text-decoration: none;}
.desc1 a:link		{color: #55BE41; text-decoration: none;}
.desc1 a:visited	{color: #55BE41; text-decoration: none;}
.desc1 a:hover		{color: #55BE41; text-decoration: underline;}
.desc1 a:active		{color: #55BE41; text-decoration: none;}

/* Game Start container */
div.game, div.game1, div.game2, div.game3, div.game4, div.game5 {
	border-left: 1px dotted #fff;
	border-bottom: 1px dotted #fff;
	padding-top: 5px;
	margin: 0 auto;
	width: 190px;
	height: 30px;
	
	font-family: Lucida Sans Unicode, sans-serif;
	color: #ccc;
	font-size: 18px;
	font-variant: small-caps;
	text-align: center;
	float: left;
}
.game a:focus		{color: #ccc; font-weight: bold; text-decoration: none;}
.game a:link		{color: #ccc; font-weight: bold; text-decoration: none;}
.game a:visited		{color: #ccc; font-weight: bold; text-decoration: none;}
.game a:hover		{color: #ccc; font-weight: bold; text-decoration: underline;}
.game a:active		{color: #ccc; font-weight: bold; text-decoration: none;}

div.game1 {
	background-color: #00d400;
	border-left: 0;
	color: #fff;
}
.game1 a:focus		{color: #fff; font-weight: bold; text-decoration: none;}
.game1 a:link		{color: #fff; font-weight: bold; text-decoration: none;}
.game1 a:visited	{color: #fff; font-weight: bold; text-decoration: none;}
.game1 a:hover		{color: #fff; font-weight: bold; text-decoration: underline;}
.game1 a:active		{color: #fff; font-weight: bold; text-decoration: none;}
.game1:hover		{background-color: #23EA23;}
.game1:active		{background-color: #00d400;}

div.game2 {
	border-left: 0;
}

div.game3 {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-left: 0;
}

div.game4 {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-left: 0;
	border-bottom: 0;
}

div.game5 {
	border-bottom: 0;
}

/* JOIN text */
div.join, div.leave {
	background-color: #444;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin: 0 auto;
	width: 350px;
	margin: 17px 0px 10px 10px;
	padding: 10px;
	float: right;
	
	font-family: Georgia, serif;
	color: #fff;
	font-size: 23px;

	text-align: center;
}
div.join {
	text-shadow: #374548 2px 1px 1px;
}
div.leave {
	background-color: #F05151;
}

/* Game Start illustration container */
div.illgame1 {
	background-image:url('/art/illgame1.png');
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	border: 2px solid #f7f7f7;
	margin: 0 auto;
	width: 200px;
	height: 267px;
	float: left;
}
/* Illustrations container */
div.illbro1, div.illbro2, div.illbro3, div.illhoe1, div.illhoe2,
div.illhoe3, div.illwork1, div.illwork2, div.illwork3, div.illleave1,
div.illleave2, div.illleave3, div.illlist1, div.illlist2, div.illlist3,
div.illshop1, div.illtrade1, div.illpro1, div.illpro1, div.illfight1, 
div.illfight2, div.illfight3, div.illchoose,  div.illchoose1,
div.illbrobux, div.illhoebro, div.wookiback, div.illacts1 {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	border: 2px solid #f7f7f7;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 932px;
	height: 100px;
}
div.illbro1 {
	background-image:url('/art/illbro1.png');
	height: 80px;
}
div.illbro2 {
	background-image:url('/art/illbro2.png');
	height: 80px;
}
div.illbro3 {
	background-image:url('/art/illbro3.png');
	height: 80px;
}
div.illhoe1 {
	background-image:url('/art/illhoe1.png');
	height: 80px;
}
div.illhoe2 {
	background-image:url('/art/illhoe2.png');
	height: 80px;
}
div.illhoe3 {
	background-image:url('/art/illhoe3.png');
	height: 80px;
}
div.illwork1 {
	background-image:url('/art/illwork1.png');
	height: 70px;
}
div.illwork2 {
	background-image:url('/art/illwork2.png');
	height: 70px;
}
div.illwork3 {
	background-image:url('/art/illwork3.png');
	height: 70px;
}
div.illleave1 {
	background-image:url('/art/illleave1.png');
	height: 80px;
}
div.illleave2 {
	background-image:url('/art/illleave2.png');
	height: 80px;
}
div.illleave3 {
	background-image:url('/art/illleave3.png');
	height: 80px;
}
div.illbrobux {
	background-image:url('/art/illbrobux.png');
	height: 70px;
}
div.illhoebro {
	background-image:url('/art/illhoebro.png');
	height: 70px;
}

div.illlist1, div.illlist2, div.illlist3,
div.illshop1, div.illtrade1, div.illpro1, 
div.illpro2, div.illfight1, div.illfight2, 
div.illfight3, div.illchoose, div.illchoose1,
div.wookiback, div.illacts1  {
	border: 0;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: 0 auto;
	width: 960px;
	/*width: 964px;*/
	height: 80px;
}
div.illlist1 {
	background-image:url('/art/illlist1.png');
}
div.illlist2 {
	background-image:url('/art/illlist2.png');
}
div.illlist3 {
	background-image:url('/art/illlist3.png');
}
div.illshop1 {
	background-image:url('/art/illshop1.png');
}
div.illtrade1 {
	background-image:url('/art/illtrade1.png');
}
div.illpro1 {
	background-image:url('/art/illpro1.png');
}
div.illpro2 {
	background-image:url('/art/illpro2.png');
}
div.illfight1 {
	background-image:url('/art/illfight1.png');
}
div.illfight2 {
	background-image:url('/art/illfight2.png');
}
div.illfight3 {
	background-image:url('/art/illfight3.png');
}
div.illchoose, div.illchoose1 {
	/*background-image:url('/art/illchoose.png');*/
	background-color: #888;
	font-family: Lucida Sans Unicode, sans-serif;
	color: #fff;
	font-size: 23px;
	font-variant: small-caps;
	text-align: center;
	width: 960px;
	height: 30px;
	border: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: auto;
	margin-top: 20px;
	padding: 0;
}
div.illchoose1 {
	background-color: #555;
}
div.illchoose {
	margin-top: 0px;
	width: 956px;
}
div.wookiback {
	background-image:url('/art/wookiback.png');
	height: 160px;
}
div.illacts1 {
	background-image:url('/art/illacts1.png');
}

/* div big bold fonts */
div.chunk, div.intro, div.intro1 {
	margin: auto;
	width: 960px;
	padding: 0px;
	
	font-family: Lucida Sans Unicode, sans-serif;
	color: #374548;
	font-size: 23px;
	font-weight: bold;
}
.chunk a:focus		{color: #779494; text-decoration: none;}
.chunk a:link		{color: #779494; text-decoration: none;}
.chunk a:visited	{color: #779494; text-decoration: none;}
.chunk a:hover		{color: #779494; text-decoration: underline;}
.chunk a:active		{color: #779494; text-decoration: none;}

/* INTRO shout thingy */
div.introshout {
	background-image:url('/art/introshout.png');
	background-repeat: no-repeat;
	margin: 0px 0px 0px 100px;
	width: 100px;
	height: 200px;
	float: left;
}

/* INTRO about container */
div.intro {
	background-image:url('/art/introchar.png');
	background-repeat: no-repeat;
	width: 960px;
	height: 200px;
}
/* INTRO about fonts and container */
div.intro1 {
	background-color: #fff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	margin: 20px 0px 0px 0px;
	padding: 20px;
	width: 705px;
	
	font-family: Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	color: #555;
	font-size: 23px;
	float: left;
}
.intro1 a:focus		{color: #779494; text-decoration: none;}
.intro1 a:link		{color: #779494; text-decoration: none;}
.intro1 a:visited	{color: #779494; text-decoration: none;}
.intro1 a:hover		{color: #779494; text-decoration: underline;}
.intro1 a:active	{color: #779494; text-decoration: none;}

/* CRUMBS container */
div.chunk1{
	margin: 0px;
	width: 480px;
	float:left;
}
/* LOGIN container */
div.chunk2{
	margin: 0px;
	width: 480px;
	float:right;
}
/* Menu headers. chunk3: Basic Menu, chunk3a: List */
div.chunk3a{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 0px solid #ccc;
	margin: 0 auto;
	width: 960px;
	padding: 0px;
	padding-top: 10px;
}
div.chunk3ait {
	width: 960px;
}
div.chunk3it, div.chunk3ait{
	font-family: Georgia, serif;
	color: #555;
	font-size: 33px;
	font-weight: bold;
	text-align: center;

	margin: auto;
	margin-bottom: 10px;
	float:left;
}
div.chunk3line {	
	border-bottom:1px dotted #ccc;
	
	width: 560px;
	margin: 0 auto;
}

/* Icon navigation container*/
div.chunk4{
/*	background-color: #ECEAEA;*/
	margin: 0px auto;
	width: 550px;
	height: 48px;
	clear: both;
	padding: 0px 5px 5px 5px;
}

/* HUD container */
div.chunk5{
	background-color: #e3e3e3;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	margin: 0px;
	width: 948px;
	padding: 5px;
	float: right;
	-moz-box-shadow: rgba(255, 255, 255, 0.398438) 0px 1px, #fff 0px 20px 20px -10px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.398438) 0px 1px, #fff 0px 20px 20px -10px inset;
    box-shadow: rgba(255, 255, 255, 0.398438) 0px 1px, #fff 0px 20px 20px -10px inset;
}
/* ALERT container ie. Please login, click to join. */
div.chunk6, div.chunk6a, div.chunk6b, div.chunk6c, div.chunk6d{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	border:1px dotted #ccc;
	margin: auto;
	margin-top: 20px;
	width: 920px;
	padding: 5px;
	overflow: hidden;
}
div.chunk6{
	background-color: #fff;
}
div.chunk6d{
	background-color: #FFD9D9;
}
div.chunk6a, div.chunk6b, div.chunk6c{
	background-color: #fff;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin: auto;
	margin-top: 70px;
	width: 930px;
	padding: 0;
}
div.chunk6a{
	background-color: #FFD9D9;
}
div.chunk6c{
	margin-top: 40px;
}

div.hoe_alert_list{
	background-color: #ECEAEA;
/*	background-image:url('/art/not.png');
	background-repeat:repeat-y;
	border:1px dotted #ccc; */
	width: 950px;
	margin:0 auto;
	padding: 20px 5px;
}
/* notifications using .alert */
div.hoe_alert_div{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	background-color: #fff;
	border:0;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 900px;
	padding: 5px;
}

/* ALERT fonts RED */
div.alert, div.hoe_alert_div{
	font-family: Georgia, serif;
	color: #374548;
	font-size: 18px;
	text-align: center;
}
.alert a:focus		{color: #ff5555; font-weight: bold; text-decoration: none;}
.alert a:link		{color: #ff5555; font-weight: bold; text-decoration: none;}
.alert a:visited	{color: #ff5555; font-weight: bold; text-decoration: none;}
.alert a:hover		{color: #ff5555; font-weight: bold; text-decoration: underline;}
.alert a:active		{color: #ff5555; font-weight: bold; text-decoration: none;}

.hoe_alert_div a:focus		{color: #ff5555; font-weight: bold; text-decoration: none;}
.hoe_alert_div a:link		{color: #ff5555; font-weight: bold; text-decoration: none;}
.hoe_alert_div a:visited	{color: #ff5555; font-weight: bold; text-decoration: none;}
.hoe_alert_div a:hover		{color: #ff5555; font-weight: bold; text-decoration: underline;}
.hoe_alert_div a:active		{color: #ff5555; font-weight: bold; text-decoration: none;}

/* ALERT fonts GREEN */
div.alert1{
	font-family: Georgia, serif;
	color: #374548;
	font-size: 18px;
	text-align: center;
}
.alert1 a:focus		{color: #00d400; font-weight: bold; text-decoration: none;}
.alert1 a:link		{color: #00d400; font-weight: bold; text-decoration: none;}
.alert1 a:visited	{color: #00d400; font-weight: bold; text-decoration: none;}
.alert1 a:hover		{color: #00d400; font-weight: bold; text-decoration: underline;}
.alert1 a:active	{color: #00d400; font-weight: bold; text-decoration: none;}
/* ALERT fonts NEUTRAL */
div.alert2{
	font-family: Georgia, serif;
	color: #374548;
	font-size: 18px;
	text-align: center;
}
.alert2 a:focus		{color: #374548; font-weight: bold; text-decoration: none;}
.alert2 a:link		{color: #374548; font-weight: bold; text-decoration: none;}
.alert2 a:visited	{color: #374548; font-weight: bold; text-decoration: none;}
.alert2 a:hover		{color: #374548; font-weight: bold; text-decoration: underline;}
.alert2 a:active	{color: #374548; font-weight: bold; text-decoration: none;}

/* Form container */
div.chunk7, div.chunk7a{
	background-color: #555;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #ccc;
	margin: auto;
	margin-top: 20px;
	width: 624px;
}
/* SHOP container */
div.chunk7a {
	margin: 0px auto;
}
/* Form chunks, chunk8a: LIST/PROFILE outercontainer, chunk8b: LIST/PROFILE innercontainer */
div.chunk8, div.chunk8a, div.chunk8b, div.chunk8c {
	margin: 0px auto;
	/*width: 960px;*/
}
.chunk8b a:focus	{color: #fff; text-decoration: none;}
.chunk8b a:link		{color: #fff; text-decoration: none;}
.chunk8b a:visited	{color: #fff; text-decoration: none;}
.chunk8b a:hover	{color: #fff; text-decoration: underline;}
.chunk8b a:active	{color: #fff; text-decoration: none;}

div.chunk8 {
	margin: auto;
	margin-top: 10px;
	width: 624px;
	clear: both;
}
/* PROFILE outer container */
div.chunk8a, div.chunk8c {
	background-color: #555;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border: 2px solid #ccc;
	border-top: 0;
}

/* PLAYER IMAGE container */
div.player {
	margin: 0;
	width: 80px;
	height: 100%;
}
div.player1, div.player2, div.player3, div.player4, 
div.player5, div.player6, div.player7, div.player8, 
div.player9, div.player10, div.player11, div.player12 {
	background-repeat:no-repeat;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	margin: 0;
	width: 60px;
	height: 60px;
	float: left;
}
div.player1 {
	background-image:url('/art/player1.png');
}
div.player2 {
	background-image:url('/art/player2.png');
}
div.player3 {
	background-image:url('/art/player3.png');
}
div.player4 {
	background-image:url('/art/player4.png');
}
div.player5 {
	background-image:url('/art/player5.png');
}
div.player6 {
	background-image:url('/art/player6.png');
}
div.player7 {
	background-image:url('/art/player7.png');
}
div.player8 {
	background-image:url('/art/player8.png');
}
div.player9 {
	background-image:url('/art/player9.png');
}
div.player10 {
	background-image:url('/art/player10.png');
}
div.player11 {
	background-image:url('/art/player11.png');
}
div.player12 {
	background-image:url('/art/player12.png');
}
div.playershout, div.witchshout {
	background-image:url('/art/playershout.png');
	background-repeat:no-repeat;
	margin: 0;
	width: 20px;
	height: 60px;
	float: left;
}
div.witchshout {
	background-image:url('/art/witchshout.png');
	height: 100px;
}

/* SHOPWITCH IMAGE container */
div.shopwitch {
	margin: 0;
	width: 120px;
	height: 100%;
}
div.shopwitch1, div.shopwitch2, div.shopwitch3,
div.wooki1 {
	background-repeat:no-repeat;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	margin: 0;
	width: 100px;
	height: 100px;
	float: left;
}
div.shopwitch1 {
	background-image:url('/art/shopwitch1.png');
}
div.shopwitch2 {
	background-image:url('/art/shopwitch2.png');
}
div.shopwitch3 {
	background-image:url('/art/shopwitch3.png');
}
div.wooki1 {
	background-image:url('/art/wooki1.png');
}

/* TRADE container */
div.trade, div.trade1, div.trade2, div.trade3a, div.trade3b, div.trade4, 
div.witcha, div.witchb {
	margin: 0px auto;
	width: 960px;
	
	font-family: Georgia, serif;
	color: #ccc;
	font-size: 14px;
	text-align: center;
}
div.trade1 {
	padding-top: 20px;
}
div.trade4 {
	text-align: center;
	width: 920px;
	padding-left: 20px;
	padding-right: 20px;
}
div.trade2 {
	width: 920px;
	padding: 10px 20px 10px 20px;
	
	font-size: 23px;
}
.trade2 a:focus		{color: #00D400; text-decoration: none;}
.trade2 a:link		{color: #00D400; text-decoration: none;}
.trade2 a:visited	{color: #00D400; text-decoration: none;}
.trade2 a:hover		{color: #00ff00; text-decoration: underline;}
.trade2 a:active	{color: #00D400; text-decoration: none;}

/* When NO ONE is offering anything */
div.trade3a, div.witcha {
	background-color: #444;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	width: 700px;
	height: 100%;
	padding: 5px 10px 5px 10px;
	
	font-size: 23px;
	color: #888;
}
div.witcha {
	width: 800px;
}
/* When SOMEONE is offering something */
div.trade3b, div.witchb {
	background-color: #333;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	width: 600px;
	height: 100%;
	padding: 5px 10px 5px 10px;
	
	font-size: 23px;
	color: #FAFAFA;
	float: left;
}
div.witchb {
	width: 660px;
	height: 75px;
	margin-top: 5px;
	padding-top: 10px;
}

/* TRADE MESSAGE */
div.trademsg {
	margin: 0 auto;
	margin-top: 10px;
	padding: 0;
	font-family: Lucida Sans Unicode, sans-serif;
	font-variant: small-caps;
	color: #BBBBBB;
	font-size: 14px;
}

#buyit input.error{
	color:#f00;
}

.form_validate_error {
	color:#f00;
}

/*PROFILE INFO containers */
div.pro1, div.pro1a, div.pro1b, div.pro1b1, div.pro1c, div.pro1c1, div.pro1c2, div.prorob {
	width: 430px;
	margin: 20px 10px 20px 10px;
	
	font-family: Georgia, serif;
	color: #ccc;
	font-size: 16px;
	text-align: left;
}
/*PROFILE INFO outer container */
div.pro1 {
	margin: 0 auto;
	width: 450px;
	float: right;
}
/*PROFILE ROBBING container */
div.prorob {
	background-color: #000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	margin: 0 auto;
	width: 400px;
	height: 100px;
	padding: 10px;
	
	font-family: Georgia, serif;
	color: #00d400;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.prorob a:focus		{color: #00d400; text-decoration: none;}
.prorob a:link		{color: #00d400; text-decoration: none;}
.prorob a:visited	{color: #00d400; text-decoration: none;}
.prorob a:hover		{color: #56FF56; text-decoration: none;}
.prorob a:active	{color: #00d400; text-decoration: none;}

div.prorob:hover {
	background: #222;
}
div.prorob:active {
	background: #000;
}

/*PROFILE INFO topmost inner container */
div.pro1b, div.pro1b1 {
	margin: 0 auto;
	float: left;
}
/*PROFILE INFO inner container */
div.pro1b1 {
	margin-top: 10px;
}
/*PROFILE INFO Name/Shout/Button container */
div.pro1c, div.pro1c1, div.pro1c2 {
	width: 100px;
	margin: 0 auto;
	float: left;
}
/*PROFILE INFO Tiny Print container */
div.pro1c1 {
	font-size: 12px;
}
div.pro1c2 {
	height: 30px;
	background-image:url('/art/shout.png');
	background-repeat:no-repeat;
}
/*PROFILE INFO Form container */
div.pro1d, div.pro1d1 {
	width: 310px;
	margin: 0 auto;
	float: left;
}
/*PROFILE INFO Current SHOUT container */
div.pro1d1 {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	
	background-color: #fff;
	width: 300px;
	height: 80px;
	color: #374548;
	padding: 10px 10px 0px 10px;
	
	overflow: hidden;
}
/*PROFILE INFO Form Input container */
div.pro1d input {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	
	width: 310px;
	height: 30px;
	padding: 0px 0px 0px 10px;
	margin: 0;
}
/*PROFILE INFO Form Button container */
div.pro1c button{
	background: #000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	border:1px solid #000;
	
	margin: 5px auto;
	width: 100px;
	height: 25px;
	
	font-family: Georgia, serif;
	color: #00d400;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	
	cursor:pointer;
}
div.pro1c button:hover {
	background: #222;
	border:1px solid #222;
	color: #56FF56;
}
div.pro1c button:active {
	background: #000;
	border:1px solid #000;
	color: #00d400;
}

/*PROFILE ITEMS containers */
div.pro2, div.pro2a, div.pro2a1, div.pro2b {
	background-color: #555;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #ccc;
/*	width: 489px;*/
	margin: auto;
	margin: 10px 10px 20px 7px;
}
/*PROFILE ITEMS outer container */
div.pro2 {
	background-color: #444;
	border: 0px;
	border-right: 1px dotted #fff;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: 0 auto;
	width: 500px;
	/*width: 509px;*/
	float: right;
}
/*PROFILE ITEMS Name #ID inner container */
div.pro2a1 {
	border: 0px;
	width: 489px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 40px;
}
/*PROFILE ITEMS inner container */
div.pro2b, div.pro2tit {
	border: 0px;
	/*width: 489px;*/
	margin: 0 auto;
}
/*INVENTORY container */
div.pro2tit {
	background-color: #e3e3e3;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	
	font-family: Georgia, serif;
	color: #374548;
	font-size: 23px;
	text-align: center;
}
/*PROFILE ITEMS fonts, pro2c: Name, pro2id: #ID, pro2d: big col, pro2e: small col, procat: cat */
div.pro2c, div.pro2id, div.pro2d, div.pro2e, div.pro2d1, div.pro2e1, div.pro2d2, div.pro2e2, div.procat1, div.procat2 {
	font-family: Georgia, serif;
	color: #fff;
	font-size: 23px;
	
	margin: 0 auto;
	float: left;
}
/*PROFILE ITEMS Name container */
div.pro2c {
	color: #ccc;
	width: 329px;
	height: 30px;
	
	margin-left: 10px;
}
/*PROFILE ITEMS #ID container */
div.pro2id {
	background-color: #92D192;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #374548;
	width: 150px;
	text-align: center
}
/*PROFILE ITEMS big col container */
div.pro2d, div.pro2d1, div.pro2d2 {
	width: 239px;
	/*width: 243px;*/
	text-align: center
}
/*PROFILE ITEMS small col container */
div.pro2e, div.pro2e1, div.pro2e2 {
	width: 159px;
	/*width: 161px;*/
	text-align: center
}
/*PROFILE ITEMS col container with border */
div.pro2d1, div.pro2e1 {
	border-right: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
}
/*PROFILE ITEMS col container with only bottom border */
div.pro2d2, div.pro2e2 {
	border-bottom: 1px dotted #ccc;
}
/*PROFILE ITEMS category container */
div.procat1, div.procat2 {
	border: 0px;
	width: 243px;
	
	color: #ccc;
	font-size: 14px;
	text-align: center;
}
/*PROFILE ITEMS small col cat container */
div.procat2 {
	width: 160px;
}


/* bottom right overlay, may be empty "" so keep it transparent */
div.lista_br{
	position:absolute;
	right:0px;
	bottom:0px;
	margin:2px;
}
/* bottom left overlay, may be empty "" so keep it transparent */
div.lista_bl{
	position:absolute;
	left:0px;
	bottom:0px;
	margin:2px;
}

/* lista: LIST fat columns */
div.lista, div.listb, div.listc, 
div.listat, div.listbt, div.listct, 
div.listat1, div.listbt1, div.listct1 {
	border-right: 1px dotted #fff;
	border-bottom: 1px solid #374548;
	
	font-family: Lucida Sans Unicode, sans-serif;
	color: #fff;
	font-size: 16px;
	text-align: center;
	height: 45px;
	overflow: hidden;
	width: 160px;
	margin: 0px;
	padding: 5px;
	float: left;
	position:relative;
}
/* LIST thin columns */
div.listb, div.listbt, div.listbt1{	
	border-right: 1px dotted #fff;
	width: 80px;
}
/* LIST TOP ROW has different height */
div.listat, div.listbt, div.listct, 
div.listat1, div.listbt1, div.listct1 {	
	height: 25px;
	border-top: 1px dotted #fff;
	border-right: 1px dotted #fff;
	border-bottom: 1px dotted #fff;
	
	color: #ccc;
	font-size: 16px;
	font-variant: small-caps;
}

/* SHOUT TOP ROW with no right border */
div.listct, div.listct1 {	
	border: 0px;
	border-top: 1px dotted #fff;
	border-bottom: 1px dotted #fff;
	/*width: 163px;*/
}
/* SHOUT COLUMN with no borders & special, left aligned text */
div.listc{	
	border: 0px;
	border-bottom: 1px solid #374548;
	/*width: 163px;*/
	
	font-family: Lucida Sans Unicode, sans-serif;
	line-height: 1.2em;
	font-size: 10px;
	text-align: left;
}
/* BOTTOM ROW has no bottom border */
div.listat1, div.listbt1, div.listct1 {	
	border-bottom: 0;
}

/* Form horizontal line */
div.formline, div.formline1 {	
	border-bottom:1px dotted #ccc;
	
	width: 500px;
	margin: auto;
	margin-top: 5px;
}
/* SHOP Form horizontal line */
div.formline1 {	
	width: 800px;
}

/* Percentage container */
div.chunk9{
	margin: 0 auto;
	width: 500px;
}
/* Fonts for action Forms. formt: work, formta: shop, */
div.formt, div.formta{
	font-family: Georgia, serif;
	color: #ccc;
	font-size: 25px;
	line-height: 45px;
	
}
div.formt{
	font-size: 16px;
	text-align: center;
	line-height: 25px;
}
div.formp1{
	background-color: #BAD4BA;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	margin: 0px 10px 10px 10px;
	width: 80px;
	float: left;
}
div.formp1:hover {
	background-color: #D5E4D5;
}
div.formp1:active {
	background-color: #BAD4BA;
}
div.formp2{
	background-color: #92D192;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	margin: 0px 10px 10px 10px;
	width: 80px;
	float: left;
}
div.formp2:hover {
	background-color: #AAE3AA;
}
div.formp2:active {
	background-color: #92D192;
}
div.formp3{
	background-color: #6ED46E;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	margin: 0px 10px 10px 10px;
	width: 80px;
	float: left;
}
div.formp3:hover {
	background-color: #82E682;
}
div.formp3:active {
	background-color: #6ED46E;
}
div.formp4{
	background-color: #4CD44C;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	margin: 0px 10px 10px 10px;
	width: 80px;
	float: left;
}
div.formp4:hover {
	background-color: #61EA61;
}
div.formp4:active {
	background-color: #4CD44C;
}
div.formp5{
	background-color: #00d400;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	margin: 0px 10px 10px 10px;
	width: 80px;
	float: left;
}
div.formp5:hover {
	background-color: #28F128;
}
div.formp5:active {
	background-color: #00d400;
}
div.formn{
	font-family: Georgia, serif;
	color: #555;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	margin: 5px;
}
.formn a:focus		{color: #555; font-weight: bold; text-decoration: none;}
.formn a:link		{color: #555; font-weight: bold; text-decoration: none;}
.formn a:visited	{color: #555; font-weight: bold; text-decoration: none;}
.formn a:hover		{color: #fff; font-weight: bold; text-decoration: none;}
.formn a:active		{color: #fff; font-weight: bold; text-decoration: none;}

/* Form inputs for Work */
div.formi{
	background: #555;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 60px;
	
	width: 494px;
	padding: 0px;
	
	clear: both;
}

div.slide{
	background: #333;
	border: 1px solid #333;
	margin: 0 auto;
	width: 480px;
	padding: 0px;
}
/* html+css= ugly web */
div.formin, div.formina, div.forminb, div.forminline{		
	font-family: Lucida Sans Unicode, sans-serif;
	color: #e3e3e3;
	font-size: 12px;
		
	margin: 0px;
	width: 50px;
	padding: 0px;
	float: left;
}
div.formina{
	font-size: 23px;
	width: 120px;
	height: 50px;
	position: relative;
}
div.forminb{
	font-size: 23px;
	width: 120px;
	position: absolute;
	bottom: 0;
}
div.forminline{
	border-left: 1px solid #000;
	width: 15px;
	height: 50px;
}
/* WORK Form attributes. using ID for great importance. */
#workit input:focus{
	border: 0;
	outline: 0;
}

#workit input.percent{
	background: #555;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	border: 0;
		
	margin: 0;
	width: 100px;
	height: 50px;
	float: left;
	
	font-family: Lucida Sans Unicode, sans-serif;
	color: #e3e3e3;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
}

#workit button{
	background: #000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	
	margin: 0;
	width: 200px;
	height: 50px;
	float: right;
	
	font-family: Georgia, serif;
	color: #00d400;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	
	cursor:pointer;
}
#workit button:hover {
	background: #222;
	border:1px solid #222;
	color: #56FF56;
}
#workit button:active {
	background: #000;
	border:1px solid #000;
	color: #00d400;
}

#workit radio{
	float: left;
}

/* SHOP form attributes */
#buyit{
	width: 900px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#buyit input:focus{
	border: 0;
	outline: 0;
}

#buyit input{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	
	font-family: Lucida Sans Unicode, sans-serif;
	color: #374548;
	font-size: 23px;
	margin: 0 5px 0 5px;
}

#buyit button{
	background: #000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	border:1px solid #000;
	
	margin: 0;
	margin-top: 10px;
	width: 200px;
	height: 50px;
	
	font-family: Georgia, serif;
	color: #00d400;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	
	cursor:pointer;
}
#buyit button:hover {
	background: #222;
	border:1px solid #222;
	color: #56FF56;
}
#buyit button:active {
	background: #000;
	border:1px solid #000;
	color: #00d400;
}

/* TRADE INPUT/BUTTONS & FIGHT INPUT/BUTTONS */
input{
	color: #374548;
}

div.trade2 input{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	border: 0;
	
	font-family: Lucida Sans Unicode, sans-serif;
	font-size: 23px;
	margin: 0 5px 0 5px;
}
div.trade2 button{
	background: #000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	border:1px solid #000;
	
	margin: 0 auto;
	width: 180px;
	height: 30px;
	
	font-family: Georgia, serif;
	color: #00d400;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	
	cursor:pointer;
}
div.fight button {
	margin-top: 10px;
	width: 350px;
	height: 30px;
}
div.trade2 button:hover {
	background: #222;
	border:1px solid #222;
	color: #56FF56;
}
div.trade2 button:active {
	background: #000;
	border:1px solid #000;
	color: #00d400;
}

/* Big button menu */
div.menu{
	margin: auto;
	width: 624px;
}
div.menu1{
	background-color: #555;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #ccc;
	margin: 0px 2px 5px 2px;
	width: 200px;
	height: 200px;
	float: left;
}
div.menu1:hover{
	background-color: #666;
}
div.menu1:active{
	background-color: #555;
}
div.menup{
	width: 100px;
	margin: auto;
}
div.menuline{	
	border-bottom:1px dotted #ccc;
	
	width: 150px;
	margin: 0px 25px 5px 25px;
	float:left;
}
div.menuit{
	font-family: Georgia, serif;
	color: #ccc;
	font-size: 23px;
	font-weight: bold;
	text-align: center;

	width: 180px;
	margin: 5px 10px 0px 10px;
	float:left;
}
.menuit a:focus		{color: #ccc; text-decoration: none;}
.menuit a:link		{color: #ccc; text-decoration: none;}
.menuit a:visited	{color: #ccc; text-decoration: none;}
.menuit a:hover		{color: #fff; text-decoration: none;}
.menuit a:active	{color: #fff; text-decoration: none;}
div.menun{
	font-family: Georgia, serif;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;

	width: 180px;
	margin: 10px;
	float:left;
}
div.clear{
	clear: both;
}
/* TOP LEFT navigation container */
div.act {
	background-color: #F5F5F5;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #e8e8e8;
	width: 50px;
	margin: 5px 2px 0px 2px;
	float:left;
}
div.act:hover{
	background-color: #fff;
}
div.act:active{
	background-color: #F5F5F5;
}

/* TOP LEFT NAVIGATION ICONS */
div.actp {
	width: 50px;
	margin: 5px 10px 0px 10px;
}

/* HUD icons */
div.hud{
	background-color: #555;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #ccc;
	width: 943px;
	margin: 0px;
	float:left;
}
div.hud1{
	width: 127px;
	height: 45px;
	margin: 0px;
	float:left;
}
div.hudit{
	font-family: Georgia, serif;
	color: #ffffff;
	font-size: 20px;
	text-align:center;
	
	width: 127px;
	height: 25px;
	margin: 0px;
	float:left;
}
div.hudn{
	font-family: Lucida Sans Unicode, sans-serif;
	font-variant: small-caps;
	color: #ccc;
	font-size: 14px;
	text-align:center;
	
	width: 127px;
	margin: 0px;
	float:left;
}
div.hudline{	
	border-right:1px dotted #fff;
	height: 45px;
	margin: 0px;
	float:left;
}
/* smaller HUD icons */
div.hud2{
	width: 89px;
	height: 45px;
	margin: 0px;
	float:left;
}
div.hud2it{
	font-family: Georgia, serif;
	color: #ffffff;
	font-size: 20px;
	text-align:center;
	
	width: 80px;
	height: 25px;
	margin: 0px;
	float:left;
}
div.hud2n{
	font-family: Lucida Sans Unicode, sans-serif;
	font-variant: small-caps;
	color: #ccc;
	font-size: 14px;
	text-align:center;
	
	width: 80px;
	margin: 0px;
	float:left;
}
/* Login Logout buttons */
div.log{
	width: 400px;
	margin: 0px;
	float:right;
}
div.log1{
	width: 320px;
	margin: 0px;
	float:left;
}
/* Red Login button */
div.log2{
	background-color: #ff5555;
	width: 80px;
	margin: 0px;
	float:left;
}
div.log2:hover{
	background-color: #FF8A8A;
}
div.log2:active{
	background-color: #ff5555;
}
/* Grey Logout button */
div.log3{
	background-color: #ccc;
	width: 80px;
	margin: 0px;
	float:left;
}
div.log3:hover{
	background-color: #DBD9D9;
}
div.log3:active{
	background-color: #ccc;
}
div.logit{
	font-family: Georgia, serif;
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;

	width: 70px;
	margin: auto;
	margin: 5px 5px 5px 10px;
	float:left;
}
.logit a:focus		{color: #ffffff; text-decoration: none;}
.logit a:link		{color: #ffffff; text-decoration: none;}
.logit a:visited	{color: #ffffff; text-decoration: none;}
.logit a:hover		{color: #ffffff; text-decoration: underline;}
.logit a:active		{color: #ffffff; text-decoration: none;}
div.logn{
	font-family: Georgia, serif;
	color: #888;
	font-size: 16px;
	font-weight: normal;
	text-align: right;

	width: 300px;
	margin: 5px;
	float:left;
}
.logn a:focus		{color: #888; text-decoration: none;}
.logn a:link		{color: #888; text-decoration: none;}
.logn a:visited		{color: #888; text-decoration: none;}
.logn a:hover		{color: #888; text-decoration: underline;}
.logn a:active		{color: #888; text-decoration: none;}
/* CRUMBS */
div.crum{
	width: 560px;
	margin: 0px;
	float:left;
}
div.help{
	background-color:#00C224;
	font-family: Lucida Sans Unicode, sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	font-variant: small-caps;
	text-align: center;
	padding: 2px 5px 6px 5px;
	width: 35px;
	float:left;
}
.help a:focus		{color: #fff; text-decoration: none;}
.help a:link		{color: #fff; text-decoration: none;}
.help a:visited		{color: #fff; text-decoration: none;}
.help a:hover		{color: #fff; text-decoration: underline;}
.help a:active		{color: #fff; text-decoration: none;}

div.help:hover{
	background-color:#12F13B;
}
div.help:active{
	background-color:#00C224;
}

.tabs{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px 8px;
	width:150px;
	height:50px;
	background-color:#353535;
	padding:10px 20px 10px 20px;
	font-size:16px;
	color:#ccc;
}
.tabs:hover{
	background-color:#424242;
}
.tabs:active{
	background-color:#353535;
}

.acts_paging{
	font-size:12px;
	font-weight:bold;
	margin:20px;
}
.acts_paging a:focus		{color: #ccc; text-decoration: none;}
.acts_paging a:link			{color: #ccc; text-decoration: none;}
.acts_paging a:visited		{color: #ccc; text-decoration: none;}
.acts_paging a:hover		{color: #ccc; text-decoration: underline;}
.acts_paging a:active		{color: #ccc; text-decoration: none;}

div.crumit{
	font-family: Georgia, serif;
	color: #888;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;

	width: 510px;
	margin: 5px 0px 0px 5px;
	float:left;
}
.crumit a:focus		{color: #888; text-decoration: none;}
.crumit a:link		{color: #888; text-decoration: none;}
.crumit a:visited	{color: #888; text-decoration: none;}
.crumit a:hover		{color: #00d400; text-decoration: underline;}
.crumit a:active	{color: #00d400; text-decoration: none;}

/* FOOTER */
div.foot{
	background-color: #f7f7f7;
	font-family: Georgia, serif;
	color: #666666;
	font-size: 14px;
	
	margin: 50px 20px 20px 20px;
	width: 920px;
}
.foot a:focus		{color: #ffcc00; text-decoration: none;}
.foot a:link		{color: #ffcc00; text-decoration: none;}
.foot a:visited		{color: #ffcc00; text-decoration: none;}
.foot a:hover		{color: #ffcc00; text-decoration: underline;}
.foot a:active		{color: #ffcc00; text-decoration: none;}


