 /*Base css for links.html*/
 
 /*links_back div
.links_back{
width:960px;
background-image: url(/css/img/links_back.png);
background-repeat: no-repeat;
margin:0px;
position:relative;
text-align:center;
}*/

/*Master div*/
.links_master{
width:700px;
color: #4070ff;
margin:0px;
padding:10px 0px 10px 0px;
position:relative;
text-align:center;
margin-left: auto;
margin-right: auto;
}

/*Transparent div*/
.links_alpha{
width:700px;
height: 215px;
margin:0px;
padding-bottom:10px;
background-color:#000070;
  /* for IE */
  filter:alpha(opacity=60);
  /* for Netscape*/
  -moz-opacity:0.6;
  /* for Safari */
  -khtml-opacity: 0.6;
  /* CSS3 standard */
  opacity: 0.6;
}

/*Main div*/
.links_main{
width:700px;
height: 215px;
margin:0px;
padding-bottom:10px;
position: absolute;              /* absolute positioning        */
z-index: 2;
}

.links_mainfoot{
width:700px;
margin:5px;
padding:0px;
position:relative;
}

/*Dotted lines*/
.links_dots{
width:690px;
margin:0px;
padding:0px;
border-bottom:1px dotted #4070ff;
float:left;
}

/*Column divs (4 in the main)*/
.links_column{
width:330px;
margin:10px;
padding:0px;
float:left;
}

/*Title divs (4 in the main)*/
.links_title{
width:300px;
margin:0px;
padding-bottom:5px;
padding-left:5px;
float:left;
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #4070ff;
border-bottom:1px dotted #4070ff;
}

/*Links div*/
.links_links{
width:100px;
margin:0px;
padding-left:5px;
float:left;
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #0080ff;
}

.links_links a:link{
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #0080ff;
text-decoration:none;
}

.links_links a:visited{
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #0080ff;
text-decoration:none;
}

.links_links a:hover{
text-decoration:underline;
}

/*Longer links div*/
.links_long{
width:160px;
margin:0px;
padding-left:5px;
float:left;
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #4070ff;
}

.links_long a:link{
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #0080ff;
text-decoration:none;
}

.links_long a:visited{
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #0080ff;
text-decoration:none;
}

.links_long a:hover{
text-decoration:underline;
}

/*Much Longer links div*/
.links_longer{
width:330px;
margin:0px;
padding-left:5px;
float:left;
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #4070ff;
}

.links_longer a:link{
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #0080ff;
text-decoration:none;
}

.links_longer a:visited{
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #0080ff;
text-decoration:none;
}

.links_longer a:hover{
text-decoration:underline;
}

/*Links div*/
.links_foot{
width:80px;
margin:0px;
padding:10px;
float:left;
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #0080ff;
}

.links_foot a:link{
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #0080FF;
text-decoration:none;
}

.links_foot a:visited{
font: normal 11px Tahoma, Verdana, Arial, sans-serif;
text-align: left;
color: #0080FF;
text-decoration:none;
}

.links_foot a:hover{
text-decoration:underline;
}