html{
	overflow-y: scroll;
	height:100%;
	background-image: url(/css/img/tile.960.png) ;
	background-position: 50% 0;
	background-repeat: repeat-y;
	background-color: #e6e6e6;
}

body{
	border-style:none;
	border:none;
	outline:none;
	margin:0px;
	padding:0px;
	font-family: Verdana, Tahoma, "Myriad Web", Syntax, sans-serif;
	font-size: 16px;

	color: #000;	
	background-image: url(/css/img/back.960.png) ;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-color: transparent;
	
}


ul, li {
	margin: 0px;
	list-style-type:none;
	padding-left:16;
	padding-right:16;
}

img {
	border-style:none;
	border:none;
	outline:none;
	margin:0px;
	padding:0px;
}

a {
	border-style:none;
	border:none;
	outline:none;
	margin:0px;
	padding:0px;
}

a:link {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
a:active {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}


.aelua_base {

	margin: auto;
	width: 960px;
	position: relative;
	background-color: transparent;
}

.aelua_home_bar {

	margin: auto;
	width: 960px;
	position: relative;

	background-color: transparent;
}

.aelua_user_bar {

	margin: auto;
	width: 960px;
	position: relative;
	
	background-color: transparent;
}

.aelua_about {

	width: 640px;
	clear: both;
}

.aelua_twocol_head {

	width: 960px;
	clear: both;
}

.aelua_twocol_wide {

	width: 640px;
	float: left;
}

.aelua_twocol_side {

	width: 320px;
	float: right;
}

.aelua_twocol_foot {

	width: 960px;
	clear: both;
}




.aelua_foot_data {

	margin: auto;
	width: 960px;
	position: relative;
	
	font-size: 8px;
	text-align: center;
}



.wetnote_comment_div , .wetnote_reply_div , .wetnote_comment_hide_div {
	position:relative;
	clear:both;
}

.wetnote_comment_form_div{
	margin-bottom:40px;
	clear:both;
}

.wetnote_reply_div , .wetnote_comment_form_div{
	margin-left:40px;
}

.wetnote_comment_icon , .wetnote_reply_icon{
 	float:left;
 	width:100px;
 	height:100px;
}

.wetnote_comment_text , .wetnote_reply_text{
	width:600px;
}

.wetnote_comment_head , .wetnote_reply_head {
	opacity:0;
	background-color:#fee;
	color:#f00;
	padding-bottom: 14px;
	width:500px;
	margin-left:100px;
}
.wetnote_comment_head a , .wetnote_reply_head a {
	color:#f00;
}

.wetnote_comment_head:hover , .wetnote_reply_head:hover{
	opacity:1;
}

.wetnote_comment_form{
	width:640;
	margin-bottom:40px;
}

.wetnote_comment_side {
	
	width:100px;
	display:inline-block;
}

.wetnote_comment_main {

	width:500px;
	display:inline-block;
}

.wetnote_comment_form_text {
	width:500px;
	height:120px;
}
