html{
	overflow-y: scroll;
	height:100%;
	background-image: url(/css/img/tile.960.png) ;
	background-position: 50% 0;
	background-repeat: repeat-y;
	background-color: #e6e6e6;
}

body{
	border-style:none;
	border:none;
	outline:none;
	margin:0px;
	padding:0px;
	font-family: Verdana, Tahoma, "Myriad Web", Syntax, sans-serif;
	font-size: 16px;

	color: #000;	
	background-image: url(/css/img/back.960.png) ;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-color: transparent;
	
}


ul, li {
	margin: 0px;
	list-style-type:none;
	padding-left:16;
	padding-right:16;
}

img {
	border-style:none;
	border:none;
	outline:none;
	margin:0px;
	padding:0px;
}

a {
	border-style:none;
	border:none;
	outline:none;
	margin:0px;
	padding:0px;
}

a:link {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
a:active {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}


.aelua_base {

	margin: auto;
	width: 960px;
	position: relative;
	background-color: transparent;
}

.aelua_home_bar {

	margin: auto;
	width: 960px;
	position: relative;

	background-color: transparent;
}

.aelua_user_bar {

	margin: auto;
	width: 960px;
	position: relative;
	
	background-color: transparent;
}

.aelua_about {

	width: 640px;
	clear: both;
}

.aelua_twocol_head {

	width: 960px;
	clear: both;
}

.aelua_twocol_wide {

	width: 640px;
	float: left;
}

.aelua_twocol_side {

	width: 320px;
	float: right;
}

.aelua_twocol_foot {

	width: 960px;
	clear: both;
}




.aelua_foot_data {

	margin: auto;
	width: 960px;
	position: relative;
	
	font-size: 8px;
	text-align: center;
}

